@import '@styles/buttons/buttons.scss';

$header:header;
$menu:menu;

.#{$header}{
    position: relative;
    width: 100vw;
    height: 16vh;
    background-color: var(--primary-color);

    &__icon-open{
        display: inline-block;
        height: 100%;
        font-size: 7rem;
        cursor: pointer;
        margin-left: 1rem;
        color: whitesmoke;
    }

    & .nav-bar{
        height: 100%;
    }
}

.#{$menu}{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 40%;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: 0.5s;

    &__icon-close{
        position: absolute;
        top: -1%;
        right:5%;
        color:var(--text-color);
        font-size: 2.6rem;
        cursor: pointer;
    }

    &__item{
        display: flex;
        align-items: center;
        border-bottom: 2px solid gray;
        cursor: pointer;
        height: 100px;
    }

    &__link{
        @extend %button;

        &:hover{
            background-color: var(--secundary-color);
        }
    }
}

.open-menu{
    transform: translateX(0);
    transition: 0.5s;
}